<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Open an Account</h1>
    <form method="POST" action="/add_user" id="user_form">
        <div><label>Set a Username:</label><br>
        <input type="text" name="ID" autocomplete="off" required/></div>
        <div><label>Set a Password:</label><br>
        <input type="text" name="Password" autocomplete="off" required/></div>
        <div>
        <input type="submit" name="Login"/>
        </div>    
    </form>

    <a href="/">Return to Login</a>
    
</body>
</html>