<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>

<body>
    <h1>Hello {{username}}</h1> <a href="/">Log Out</a>
    <h3>Log {{update_log_data.notes}}</h3>
    <form action="/log/{{username}}/{{tracker_id}}/edit" method="POST" id="create-student-form">
        <!-- <div>
            <label>When</label>
            <input type="datetime" name="Time" value="{{update_log_data.datetime}}" required />
        </div> -->
        <div>
            <label>Value</label>
            <input type="number" name="scale" value="{{update_log_data.text}}" required />
        </div>
        <div>
            <label>Notes:</label>
            <input type="text" name="notes" value="{{update_log_data.notes}}"/>
        </div>
        <div>
            <input type="submit" name="Login"/>
        </div>  
    </form>
</body>

<a href="/view/{{username}}/{{update_log_data.e_tracker_id}}"> Return to Dashboard</a>

</html>