<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Mental Health Quantified Tracker ! Please Login.</h1>
    <form method="POST" action="/" id="user_form">
        <div><label>Username</label><br>
        <input type="text" name="ID" autocomplete="off" required/></div>
        <div><label>Password</label><br>
        <input type="text" name="Password" autocomplete="off" required/></div>
        <div>
        <input type="submit" name="Login"/>
        </div>    
    </form>

    <a href="/add_user">New User ? Create Account </a>
    
</body>
</html>